<div class="form-container">
  <form action='/news' method="get">
    <input type='text' name='query' placehoder='search...' class='input' />
    <button type='submit'>Search</button>
  </form>
</div>